# スプレッドシートのCSV公開URL（先ほど取得したもの）
CSV_URL="スプレッドシートのcsv形式のURL"

# フロントエンド（Vite）が動いているURL
# npm run dev をした時に表示される http://localhost:5173 などを指定
FRONTEND_URL=http://localhost:5173

# キャッシュの有効期限（秒）。12時間なら 43200
CACHE_TTL=43200

# デバッグモード (True / False)
DEBUG=True
